[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-script = "*"
flask-migrate = "*"
flask-testing = "*"

[requires]
python_version = "3.8"
